html
  head
    title= "List of tweets of "+username
    link(href='/css/styles.css', rel="stylesheet", type="text/css" )
  body
    p
      ul
        li #[a(href="/cnnbrk-tweets") CNNBRK-tweets]

        li #[a(href="/iquark") My tweets]

      You can change the route to download the tweets, sample:
      strong= "http://localhost:3000/nameofperson"

